.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    border-bottom: 3px solid #006238;
    width: fit-content;
}
.imgg{
    padding-left: 886px;
}
#camera:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;

}
.insta-logo{
    display: flex;
}
.insta-logo p{
    margin-left: 10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #006238;
    margin: 0;
    margin-left: 5px;

}
#logo, #camera{
    height: 60px;
    margin: 0;
    
}





/* css for post boxes */
/* .postbox{
    margin-left: 330px;;
    padding-left: 350px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 325px;
    border: 2px solid black;
    border-radius: 15px;

} */

.mainbox {
  margin-left: 420px;
  /* padding-left: 350px; */
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 23px;
 height: 320px;
 width: 445px;
  border: 2px solid black;
  border-radius: 15px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
}
.topbox{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  height: 50px;
  padding-left: 7px;
}
.name{
  padding-bottom: 8px;
  font-weight: bold;

}
.middlebox{
  /* padding-bottom: 1px; */
  padding-left: 2px;
  width: 440px;
  height: 210px;
  border-bottom: 1px solid black;
  /* justify-content: wr; */
}
.middlebox .post-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.bottombox{
  /* display: flex; */
  /* flex-direction: row; */
  border-top: 1px solid black;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 7px;
  /* justify-content: space-between; */
}
.heart{
  padding-right: 5px;
}

.likedate{
  padding-right: 5px;
}
.post-likes{
  padding-right: 300px;
}
.post-description{
  font-weight: bold;
}
/* .body{
  width: 800px;
} */


















/* 
.mainbox .name {
  font-weight: bold;
}

.mainbox .location {
  font-weight: bold;
}

.mainbox .imagepost {
  height: 45%;
}

.mainbox .imagepost img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainbox .footer {
  display: flex;
  align-items: center;
}

.mainbox .heartshare {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.mainbox .heartshare .heart,
.mainbox .heartshare .share {
  margin-right: 5px;
}

.mainbox .likedate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainbox .post-description {
  font-weight: bold;
} */

  
/* .post-image{
    height: 300px;
    width: 450px;
}
.post-description, .post-author{
    font-weight: bold;
}
body{
    align-items: center;
    justify-content: center;
}


.footer{
    display:flex; 
  flex-direction: row; */

  /* justify-content:space-between; */

  /* display: inline-block; */
  /* white-space: nowrap; */

/* } */
/* 
.heart{
    padding-right: 85px;
    margin-right: 0px;
    
}
.heartshare{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.post-date{
    align-self: flex-end;
    padding-left: 327px;
} */