


/* css for post boxes */
/* .postbox{
    margin-left: 330px;;
    padding-left: 350px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 325px;
    border: 2px solid black;
    border-radius: 15px;

} */



















/* 
.mainbox .name {
  font-weight: bold;
}

.mainbox .location {
  font-weight: bold;
}

.mainbox .imagepost {
  height: 45%;
}

.mainbox .imagepost img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainbox .footer {
  display: flex;
  align-items: center;
}

.mainbox .heartshare {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.mainbox .heartshare .heart,
.mainbox .heartshare .share {
  margin-right: 5px;
}

.mainbox .likedate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainbox .post-description {
  font-weight: bold;
} */

  
/* .post-image{
    height: 300px;
    width: 450px;
}
.post-description, .post-author{
    font-weight: bold;
}
body{
    align-items: center;
    justify-content: center;
}


.footer{
    display:flex; 
  flex-direction: row; */

  /* justify-content:space-between; */

  /* display: inline-block; */
  /* white-space: nowrap; */

/* } */
/* 
.heart{
    padding-right: 85px;
    margin-right: 0px;
    
}
.heartshare{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.post-date{
    align-self: flex-end;
    padding-left: 327px;
} */